
@import "base.css";
@import "layout.css";
@import "skeleton.css";

/*  GLOBAL  */
body {
	background-color: #FCFCF2;
}

/*  HEADER  */
header {
	background-color: #E8563C;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 50px;
	padding: 20px;
}
header h1 {
	color: #FCFCF2;
}