
@import "base.css";
@import "layout.css";
@import "skeleton.css";

/*  GLOBAL  */
body {
	background-color: #FAFAFA;
}

/*  HEADER  */
header {
	margin-top: 10px;
	margin-bottom: 25px;
}
header h1 {
	color: #E8563C;
}

/*  ENTRIES  */
dt {
	margin-bottom: 8px;
}
dt a {
	text-decoration: none;
}
dd {
	margin-bottom: 25px;
}

/*  ASIDE  */
aside h2, h3 {
	color: #E8563C;
}